<div class="rTableRow clearfix" data-id="{{id}}">
  <div class="original-row clearfix">
    <div class="rTableCell title">
      {{#if helper}}{{helper}}{{else}}Data field{{/if}}
    </div>
    <div class="rTableCell select field">
      <select name="select_field" id="select_field_{{id}}" class="form-control">
        <option value="none">-- Select a data field</option>
        <option disabled>------</option>
        <option value="custom">Custom</option>
        <option disabled>------</option>
        {{#each columns}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
    </div>
    <div class="rTableCell select type">
      <select name="select_field_type" id="select_type_{{id}}" class="form-control" {{#unless editable}}disabled{{/unless}}>
        <option value="none">-- Select a type</option>
        <option disabled>------</option>
        <option value="image">Image</option>
        <option value="text">Plain text</option>
        <option value="html">HTML</option>
        <option value="url">URL</option>
        <option value="tel">Telephone</option>
        <option value="mail">Email</option>
        <option value="date">Date (e.g. {{date}})</option>
      </select>
    </div>
    <div class="rTableCell select type">
      <select name="select_field_label" id="select_label_{{id}}" class="form-control" {{#unless editable}}disabled{{/unless}}>
        <option value="none">-- Select an option</option>
        <option disabled>------</option>
        <option value="column-name">Column name as label</option>
        <option value="custom-label">Custom label</option>
        <option value="no-label">No label</option>
      </select>
    </div>
    {{#if editable}}
    <div class="rTableCell title delete text-danger">
      <i class="fa fa-trash-o" aria-hidden="true"></i>
    </div>
    {{/if}}
  </div>
  <div class="custom-field-input clearfix hidden">
    <div class="rTableCell title">
      Custom field
    </div>
    <div class="rTableCell select field">
      <input type="text" class="form-control" id="custom_field_{{id}}">
      <p class="text-muted field-text-info">Use <code>\{{[*]}}</code> to wrap around a field name, e.g. <code>Location: \{{[city]}}, \{{[country]}}</code>.</p>
    </div>
  </div>
  <div class="image-field-select clearfix hidden">
    <div class="rTableCell title text-right"><small>Data type</small></div>
    <div class="rTableCell select field">
      <select class="form-control" id="folder_field_{{id}}" name="folder_field_select">
        <option value="all-folders">Image folder</option>
        <option value="url">URL to external image</option>
      </select>
    </div>
    <div class="rTableCell select field picker-provider-button hidden" data-field-id="{{id}}">
      <div class="btn btn-default file-picker-btn" data-file-picker-details>Select a folder</div>
      <div class="selected-folder hidden">Selected folder: <span></span></div>
    </div>
    <div class="rTableCell select field">
      <p class="text-muted field-text-info folders-only">In the list data use the file name only (e.g. <code>image</code> or <code>image.jpg</code>)</p>
      <p class="text-muted field-text-info url-only hidden">In the list data use a URL (e.g. <code>http://fliplet.com/image.jpg</code>)</p>
    </div>
  </div>
  <div class="custom-label-input clearfix hidden">
    <div class="rTableCell title">
      Custom label
    </div>
    <div class="rTableCell select field">
      <input type="text" class="form-control" id="custom_field_name_{{id}}">
    </div>
  </div>
</div>