<div class="panel panel-default filter-panel" data-id="{{id}}">
  <div class="panel-heading ui-sortable-handle">
    <h4 class="panel-title" data-toggle="collapse" data-parent="#filter-accordion" data-target="#collapse-{{id}}">
      <div class="screen-reorder-handle">
        <i class="fa fa-ellipsis-v"></i><i class="fa fa-ellipsis-v"></i>
      </div>
      <span class="panel-title-text">
        <span class="column">{{columnLabel}}</span>
      </span>
      <span class="fa fa-chevron-{{#if fromLoading}}down{{else}}up{{/if}} panel-chevron"></span>
    </h4>
    <a href="#"><span class="icon-delete fa fa-trash"></span></a>
  </div>
  <div id="collapse-{{id}}" class="panel-collapse collapse {{#unless fromLoading}}in{{/unless}}">
    <div class="panel-body">

      <div class="form-group clearfix">
        <div class="col-sm-4 control-label">
          <label>Data field</label>
        </div>
        <div class="col-sm-8">
          <label for="select-data-field-{{id}}" class="select-proxy-display">
            <select name="select-data-field-{{id}}" id="select-data-field-{{id}}" data-field="field" data-label="-- Select a data field" class="hidden-select form-control">
              <option value="none">-- Select a data field</option>
              {{#each columns}}
              <option value="{{this}}">{{this}}</option>
              {{/each}}
            </select>
            <span class="icon fa fa-chevron-down"></span>
            <span class="select-value-proxy">-- Please wait</span>
          </label>
        </div>
      </div>

      <div class="form-group clearfix">
        <div class="col-sm-4 control-label">
          <label>Logic</label>
        </div>
        <div class="col-sm-8">
          <label for="logic-field-{{id}}" class="select-proxy-display">
            <select name="logic-field-{{id}}" id="logic-field-{{id}}" data-field="logic" data-label="-- Select an option" class="hidden-select form-control">
              <optgroup>
                <option value="empty">Is empty</option>
                <option value="notempty">Is not empty</option>
                <option value="==" selected>Equals</option>
                <option value="!=">Doesn't equal</option>
                <option value="oneof">Is one of</option>
              </optgroup>
              <optgroup label="Text">
                <option value="contains">Text contains</option>
                <option value="notcontain">Text doesn't contain</option>
                <option value="regex">Text matches regex</option>
              </optgroup>
              <optgroup label="Number">
                <option value=">">Is greater than</option>
                <option value=">=">Is greater or equal to</option>
                <option value="<">Is less than</option>
                <option value="<=">Is less or equal to</option>
                <option value="between">Is between</option>
              </optgroup>
            </select>
            <span class="icon fa fa-chevron-down"></span>
            <span class="select-value-proxy">-- Please wait</span>
          </label>
        </div>
      </div>

      <div class="form-group clearfix" id="filter-value">
        <div class="col-sm-4 control-label">
          <label for="value-field-{{id}}">{{valueField}}</label>
        </div>
        <div class="col-sm-8">
          <input type="text" name="value-field-{{id}}" id="value-field-{{id}}" data-field="value" class="form-control">
        </div>
      </div>
    </div>

    <div id="logic-comparison-{{id}}">
      <div class="form-group clearfix">
        <div class="col-sm-4 control-label">
          <label>Value type (from)</label>
        </div>
        <div class="col-sm-8">
          <label for="value-type-field-{{id}}" class="select-proxy-display">
            <select name="value-type-field-{{id}}" id="value-type-field-from-{{id}}" data-field="valueType" class="hidden-select form-control">
              <option value="enter-value">Enter a value</option>
            </select>
            <span class="icon fa fa-chevron-down"></span>
          </label>
        </div>
      </div>

      <div class="form-group clearfix">
        <div class="col-sm-4 control-label">
          <label for="value-field-{{id}}">Value (from)</label>
        </div>
        <div class="col-sm-8">
          <input type="text" name="value-field-from-{{id}}" id="value-field-from-{{id}}" data-field="value" class="form-control">
        </div>
      </div>
      <div class="form-group clearfix">
        <div class="col-sm-4 control-label">
          <label>Value type (to)</label>
        </div>
        <div class="col-sm-8">
          <label for="value-type-field-{{id}}" class="select-proxy-display">
            <select name="value-type-field-{{id}}" id="value-type-field-to-{{id}}" data-field="valueType" class="hidden-select form-control">
              <option value="enter-value">Enter a value</option>
            </select>
            <span class="icon fa fa-chevron-down"></span>
          </label>
        </div>
      </div>

      <div class="form-group clearfix">
        <div class="col-sm-4 control-label">
          <label for="value-field-{{id}}">Value (to)</label>
        </div>
        <div class="col-sm-8">
          <input type="text" name="value-field-{{id}}" id="value-field-to-{{id}}" data-field="value" class="form-control">
        </div>
      </div>

    </div>
  </div>
</div>