{{#each this}}
  <div class="layout-holder" data-layout="{{ id }}">
    <div class="layout-info">
      <p class="title">{{ name }}</p>
    </div>
    <div class="image-holder">
      <div class="selected-screen">
        <i class="fa fa-check-circle"></i>
        <div class="layout-info">
          <p>{{ description }}</p>
        </div>
      </div>
      <img class="animated-gif" src="{{ gif }}" />
      <img class="static-img" src="{{ image }}" />
    </div>
  </div>
  {{/each}} 