<div class="panel panel-default sort-panel" data-id="{{id}}">
  <div class="panel-heading ui-sortable-handle">
    <h4 class="panel-title" data-toggle="collapse" data-parent="#sort-accordion" data-target="#collapse-{{id}}">
      <div class="screen-reorder-handle">
        <i class="fa fa-ellipsis-v"></i><i class="fa fa-ellipsis-v"></i>
      </div>
      <span class="panel-title-text">
        <span class="column">{{columnLabel}}</span> - <span class="sort-by">{{sortByLabel}}</span> - <span class="order-by">{{orderByLabel}}</span>
      </span>
      <span class="fa fa-chevron-{{#if fromLoading}}down{{else}}up{{/if}} panel-chevron"></span>
    </h4>
    <a href="#"><span class="icon-delete fa fa-trash"></span></a>
  </div>
  <div id="collapse-{{id}}" class="panel-collapse collapse {{#unless fromLoading}}in{{/unless}}">
    <div class="panel-body">

      <div class="form-group clearfix">
        <div class="col-sm-4 control-label">
          <label>Data field name</label>
        </div>
        <div class="col-sm-8">
          <label for="select-data-field-{{id}}" class="select-proxy-display">
            <select name="select-data-field-{{id}}" id="select-data-field-{{id}}" data-field="field" data-label="-- Select a data field" class="hidden-select form-control">
              <option value="none">-- Select a data field</option>
              {{#each columns}}
              <option value="{{this}}">{{this}}</option>
              {{/each}}
            </select>
            <span class="icon fa fa-chevron-down"></span>
            <span class="select-value-proxy">-- Please wait</span>
          </label>
        </div>
      </div>

      <div class="form-group clearfix">
        <div class="col-sm-4 control-label">
          <label>Sort by</label>
        </div>
        <div class="col-sm-8">
          <label for="sort-by-field-{{id}}" class="select-proxy-display">
            <select name="sort-by-field-{{id}}" id="sort-by-field-{{id}}" data-field="sort" data-label="-- Select an option" class="hidden-select form-control">
              <option value="none">-- Select an option</option>
              <option value="alphabetical">Alphabetical (A-Z)</option>
              <option value="numerical">Numerical (0-9)</option>
              <option value="date">Date (YYYY-MM-DD)</option>
              <option value="time">Time (HH:MM)</option>
            </select>
            <span class="icon fa fa-chevron-down"></span>
            <span class="select-value-proxy">-- Please wait</span>
          </label>
        </div>
      </div>

      <div class="form-group clearfix">
        <div class="col-sm-4 control-label">
          <label>Order by</label>
        </div>
        <div class="col-sm-8">
          <label for="order-by-field-{{id}}" class="select-proxy-display">
            <select name="order-by-field-{{id}}" id="order-by-field-{{id}}" data-field="order" data-label="-- Select an option" class="hidden-select form-control">
              <option value="none">-- Select an option</option>
              <option value="ascending">Ascending</option>
              <option value="descending">Descending</option>
            </select>
            <span class="icon fa fa-chevron-down"></span>
            <span class="select-value-proxy">-- Please wait</span>
          </label>
        </div>
      </div>

    </div>
  </div>
</div>