<div class="rTableRow clearfix" data-id="{{id}}">
  <div class="original-row clearfix">
    <div class="rTableCell title">
      {{interfaceName}}
    </div>
    <div class="rTableCell select field">
      <select name="summary_select_field" id="summary_select_field_{{id}}" class="form-control">
        <option value="none">-- Select a data field</option>
        <option disabled>------</option>
        <option value="empty">None</option>
        <option value="custom">Custom</option>
        <option disabled>------</option>
        {{#each columns}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
    </div>
    <div class="rTableCell select type">
      <select name="summary_field_type" id="summary_select_type_{{id}}" class="form-control disabled" disabled>
        <option value="none">-- Select a type</option>
        <option disabled>------</option>
        <option value="image">Image</option>
        <option value="text">Plain text</option>
        <option value="html">HTML</option>
        <option value="url">URL</option>
        <option value="tel">Telephone</option>
        <option value="mail">Email</option>
        <option value="date">Date (e.g. {{date}})</option>
        <option value="time">Time (e.g. {{time}})</option>
      </select>
    </div>
  </div>
  <div class="custom-field-input clearfix hidden">
    <div class="rTableCell title text-right">
      <small>Custom field</small>
    </div>
    <div class="rTableCell select field">
      <input type="text" class="form-control" id="summary_custom_field_{{id}}">
    </div>
    <div class="rTableCell select field">
      <p class="text-muted field-text-info">Use <code>\{{[*]}}</code> to wrap around a field name, e.g. <code>\{{[city]}}, \{{[country]}}</code>.</p>
    </div>
  </div>
  <div class="image-type-select clearfix hidden">
    <div class="rTableCell title text-right">
      <small>Data type</small>
    </div>
    <div class="rTableCell select field">
      <select class="form-control" id="summary_image_field_type_{{id}}" name="image_type_select">
        <option value="all-folders">Image folder</option>
        <option value="url">URL to external image</option>
      </select>
    </div>
    <div class="rTableCell select field picker-provider-button hidden" data-field-id="{{id}}">
      <div class="btn btn-default file-picker-btn" data-file-picker-summary>Select a folder</div>
      <div class="selected-folder hidden">Selected folder: <span></span></div>
    </div>
    <div class="rTableCell select field">
      <p class="text-muted field-text-info folders-only">In the list data use the file name only (e.g. <code>image</code> or <code>image.jpg</code>)</p>
      <p class="text-muted field-text-info url-only hidden">In the list data use a URL (e.g. <code>http://fliplet.com/image.jpg</code>)</p>
    </div>
  </div>
</div>