<div class="rTableRow clearfix" data-id="{{id}}">
  <div class="original-row clearfix">
    <div class="rTableCell title">
      {{interfaceName}}
    </div>
    <div class="rTableCell select field">
      <select name="summary_select_field" id="summary_select_field_{{id}}" class="form-control">
        <option value="none">-- Select a data field</option>
        <option disabled>------</option>
        <option value="empty">None</option>
        <option value="custom">Custom</option>
        <option disabled>------</option>
        {{#each columns}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
    </div>
    <div class="rTableCell select type">
      <select name="summary_field_type" id="summary_select_type_{{id}}" class="form-control"{{#unless editable}} disabled{{/unless}}>
        {{#each options}}
          <option value="{{value}}">{{label}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  <div class="custom-field-input clearfix hidden">
    <div class="rTableCell title text-right">
      <small>Custom field</small>
    </div>
    <div class="rTableCell select field">
      <input type="text" class="form-control" id="summary_custom_field_{{id}}">
    </div>
    <div class="rTableCell select field">
      <p class="text-muted field-text-info">Use <code>\{{[*]}}</code> to wrap around a field name, e.g. <code>\{{[city]}}, \{{[country]}}</code>.</p>
    </div>
  </div>
  <div class="image-type-select clearfix hidden">
    <div class="rTableCell title flex-right">
      <small>Data type</small>
    </div>
    <div class="rTableCell select field">
      <select class="form-control" id="summary_image_field_type_{{id}}" name="image_type_select" data-current-id={{id}}>
        <option value="all-folders">Image folder</option>
        <option value="url">Image URL</option>
      </select>
    </div>
    <div class="rTableCell select field picker-provider-button hidden" data-field-id="{{id}}">
      <div class="btn btn-default file-picker-btn" data-file-picker-summary>Select a folder</div>
      <div class="selected-folder hidden">Selected folder: <span></span></div>
      <div class="text-danger error-message hidden" data-submission-error><span>Please select a folder to continue</span></div>
    </div>
    <div class="rTableCell select field">
      <p class="text-muted field-text-info folders-only">In the list data use the file ID or name only (e.g. <code>123</code>, <code>image</code> or <code>image.jpg</code>)</p>
      <p class="text-muted field-text-info url-only hidden">In the list data use a Fliplet media or external URL</p>
    </div>
  </div>
</div>
